body {
  margin: 0;
}
nav#manu {
    text-align: center;
    background: #222;
    
}
nav#menu > ul {
    margin: 0;
    
}

nav#manu > ul > li.menu-item {
    diplay: inline-block;
    padding: 25px;
    list-style: none;
    
    nav#menu > ul > li.menu-item a:hover {
        color: #999;
        
        header#header {
            position: relative;
            text-align: center;
        
        }
        header#header img {
            width: 100%;
            
        }
        heaader#header h1#main-header-text{
            position: absolute;
            top: 50%;
                font-size: 50px;
                font-weight: 700;
            margin: 0 auto;
            left: 0;
            right: 0;
            text: transform:
                uppercase;
            color: #fff;
            
                
                
                
        
        
}